<div data-role="view" data-title="Priority" data-layout="main">
    <ul data-role="listview" data-style="inset">
        <li>
            <a href="views/ObservationBreakdown.html?type=Severity&filter=High">
                <div style="overflow: hidden;">
                    <div class="listViewTextMain">High</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Severity&filter=Medium">
                <div style="overflow: hidden;">
                    <div class="listViewTextMain">Medium</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Severity&filter=Low">
                <div style="overflow: hidden;">
                    <div class="listViewTextMain">Low</div>
                </div>
            </a>
        </li>
    </ul>
</div>