<div data-role="view" data-title="Report Type" data-layout="main">
    <ul data-role="listview" data-style="inset">
        <li>
            <a href="views/ObservationBreakdown.html?type=Type&filter=Corrosion">
                <div style="overflow: hidden;">
                    <img src="Images\ReportType\IM_SPO_Damage_Corrosion.png" id="logo" class="listViewIcon"/>
                    <div class="listViewTextMain">Corrosion</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Type&filter=Crack">
                <div style="overflow: hidden;">
                    <img src="Images\ReportType\IM_SPO_Damage_Crack.png" id="logo" class="listViewIcon" />
                    <div class="listViewTextMain">Crack</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Type&filter=Crack">
                <div style="overflow: hidden;">
                    <img src="Images\ReportType\IM_SPO_Damage_Defective.png" id="logo" class="listViewIcon" />
                    <div class="listViewTextMain">Defective</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Type&filter=Leak">
                <div style="overflow: hidden;">
                    <img src="Images\ReportType\IM_SPO_Damage_Leak.png" id="logo" class="listViewIcon" />
                    <div class="listViewTextMain">Leak</div>
                </div>
            </a>
        </li>
        <li>
            <a href="views/ObservationBreakdown.html?type=Type&filter=Other">
                <div style="overflow: hidden;">
                    <img src="Images\ReportType\IM_SPO_Damage_Other.png" id="logo" class="listViewIcon" />
                    <div class="listViewTextMain">Other</div>
                </div>
            </a>
        </li>
    </ul>
</div>